main{
    font-family: "Libre Baskerville";
}

main h1{
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    margin: 92px 0 0 0;
}

main .info-container{
    display: flex;
    flex-flow: column nowrap;
    padding: 92px 128px 0 128px;
    width: 920px;
}

.info-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.info-container img{
    padding: calc(92px - 32px) 0 92px  0;
}

main .contact-form{
    margin: 92px 0 92px 128px;
    width: 768px;
}

main .form-element input{
    width: 250px;
}

p:not(:last-of-type){
    margin-bottom: 32px;
}

.image-row-container{
    display: flex;
    gap: 48px;
}