/*css resets*/
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}

p{
    margin: 0;
    font-size: 16px;
    font-style: italic;
}
h1,h2,h3{
    margin: 0;
}
h2{
    font-size: 21px;
}
html{
    width: 100%;
    height: 100%;
}
/*static background*/
body{
    margin: 0;
    background-image: url('/white-gold-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    overflow-y: hidden;
}
/*ensures that the page is scrollable while the background-image
remains in the same position*/
#root{
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

header{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 32px;
}
/*other header elements are sized relative to the banner*/
header > .header-banner{
    width: 340px;
    height: 128px;
    color: white;
    /*linear-gradient is applied to the image to darken it*/
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/header-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.header-banner > h1{
    font-size: 20px;
    font-weight: 400;
}

.header-banner > div{
    font-size: 14px;
    margin-top: 8px;
    padding: 0 12px;
    text-align: center;
}

.header-banner > h1,
.header-banner > div{
    font-family: "Libre Baskerville";
}

header > img[alt="mStile Logo"]{
    width: 112px;
    filter: invert(1);
}

nav{
    width: 288px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

nav ul{
    display: contents;
}

nav ul li{
    font-size: 14px;
}

nav li:not(nav li:last-child)::after{
    content: '|';
    margin: 0 12px;
}

footer{
    background-color:rgba(100, 82, 82, 0.33);
    display: flex;
    flex-flow: column nowrap;
    font-family: "Inter";
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
    margin-top: 92px;
}
.footer-company-info{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    gap: 12px;
}
.footer-company-info h3{
    font-weight: 800;
    font-size: 21px;
    width: 215px;
    text-align: center;
}
.footer-text-section{
    display: flex;
    flex-flow: row wrap;
    font-weight: 500;
}
.footer-text-section:not(:last-child){
    margin-bottom: 32px;
}
.footer-text-section h3{
    margin-bottom: 12px;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
}
.footer-text-section ul{
    display: contents;    
}
.footer-text-section li{
    margin-right: 16px;
    color: rgba(69, 69, 69, 1);
    font-size: 14px;
}

@media(480px <= width){
    header img[alt="mStile Logo"]{
        width: 128px;
    }
    nav{
        width: 384px;
        margin-top: 28.8px;
    }
    nav ul li{
        font-size: 16px;
    }
    nav ul li:not(ul li:last-child)::after{
        content: '|';
        margin: 0 12px;
    }
    header > .header-banner{
        width: 430px;
    }
    .header-banner > div{
        margin-top: 6px;
    }
    footer{
        flex-flow: row nowrap;
        justify-content: center;
        padding: 32px 16px;
    }
    .footer-company-info{
        gap: 0;
        justify-content: center;
        row-gap: 24px;
        margin-right: 32px;
        margin-bottom: 0;
    }
    .footer-company-info h3{
        font-size: 15.6px;
        width: 162px;
    }
    .footer-company-info .socials-section img{
        width: 32px;
        vertical-align: bottom;
    }
    .footer-text-section{
        flex-flow: column nowrap;
        width: 96px;
    }
    .footer-text-section:not(:last-child){
        margin-right: 24px;
        margin-bottom: 0;
    }
    .footer-text-section h3,
    .footer-text-section li{
        font-size: 12px;
    }
    .footer-text-section :not(:last-child){
        margin-bottom: 12px;
    }
}

@media(768px <= width){
    h2{
        font-size: 24px;
    }
    p{
        font-size: 18px;
    }
    header .header-banner{
        width: 700px;
    }
    .header-banner h1{
        font-size: 24px;
    }
    nav{
        width: 500px;
    }
    nav ul li{
        font-size: 18px;
    }
    .footer-company-info{
        margin-right: 64px;
    }
}

@media(992px <= width){
    header img[alt="mStile Logo"]{
        width: 192px;
    }
    nav{
        width: 692px;
        margin-top: 16px;
    }
    nav ul li{
        font-size: 20px;
    }
    nav ul li:not(nav li:last-child)::after{
        margin: 0 48px;
    }
    header .header-banner{
        margin-top: 16px;
        width: 900px;
    }
    .header-banner h1{
        font-size: 24px;
    }
    .header-banner div{
        font-size: 16px;
    }
    footer{
        min-width: 100%;
        max-width: 1920px;
        padding: 32px;
    }
    .footer-company-info{
        margin-right: 176px;
    }
    .footer-company-info h3{
        font-size: 24px;
        width: 215px;
    }
    .footer-company-info .socials-section img{
        width: 40px;
    }
    .footer-text-section{
        width: auto;
        white-space: nowrap;
    }
    .footer-text-section:not(:last-child){
        margin-right: 92px;
    }
    .footer-text-section :not(:last-child){
        margin-bottom: 24px;
    }
    .footer-text-section h3,
    .footer-text-section li{
        font-size: 16px;
    }
}
