.carousel-container{
    width: 1043px;
    height: 586.7px;
    overflow: hidden;
}

.carousel{
    display: flex;
    animation-name: animate-services-carousel;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-duration: 13.5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.carousel img{
    min-width: 1043px;
    height: 540px;
}

/*The time the animation remains still is between keyframes that have the same property.*/
/*Undeclared keyframes are the time it takes for an animation to conclude.*/
/*The animation-duration can be increased when more animations are needed.*/

/*current animation-duration should be 13.5s*/
/*pauses last 3s = 23% rounded up*/
/*each carousel transition lasts 1.5s = 11% rounded down*/

@keyframes animate-services-carousel{
    0%{

    }
    11%{
        transform: translateX(-1043px)
    }
    34%{
        transform: translateX(-1043px)
    }
    45%{
        transform: translateX(calc(-1043px * 2))
    }
    68%{
        transform: translateX(calc(-1043px * 2))
    }
    79%{
        transform: translateX(calc(-1043px * 3))
    }
    100%{
        transform: translateX(calc(-1043px * 3))
    }
}

@media (576px <= width <= 1279px){
    .carousel-container{
        width: 512px;
        height: 288px;
        overflow: hidden;
    }
    .carousel img{
        min-width: 512px;
        height: 288px;
    }

    @keyframes animate-services-carousel{
        0%{
    
        }
        11%{
            transform: translateX(-512px)
        }
        34%{
            transform: translateX(-512px)
        }
        45%{
            transform: translateX(calc(-512px * 2))
        }
        68%{
            transform: translateX(calc(-512px * 2))
        }
        79%{
            transform: translateX(calc(-512px * 3))
        }
        100%{
            transform: translateX(calc(-512px * 3))
        }
    }
}