.contact-form{
    width: 100%;
    margin-top: 92px;
    border-radius: 20px;
    background-color: #fafafa;
    box-shadow: 0px 2px 4px 1px rgba(97, 94, 255, 0.25);

    display: flex;
    flex-flow: column nowrap;
    row-gap: 24px;
    padding: 32px;
    box-sizing: border-box;
}

.contact-details-company img[alt="mStile Logo"]{
    display: none;
}

.contact-details-company{
    order: 1;
}

.contact-details-client{
    flex-grow: 1;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    row-gap: 32px;
}

.contact-details-client label,
.contact-details-client h2,
.contact-details-client h2 + div{
    font-family: "Karla";
}

.contact-details-client h2{
    margin: 0 0 4px 0;
}

.contact-details-client h2 + div{
    font-size: 14px;
}

.form-element-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    row-gap: 24px;
}
.form-element input,
.form-element textarea{
    all: unset;
    font-family: "Inter";
    font-size: 12px;
    border: solid 0.4px rgb(94, 94, 94);
    background-color: white;
    box-sizing: border-box;
    padding: 6px;
}
.form-element label{
    display: block;
    font-size: 12px;
    padding-left: 4px;
    margin-bottom: 4px;

    width: 172px;
    box-sizing: border-box;
}
.form-element input{
    border-radius: 5px;
    width: 100%;
    height: 38px;
}
.form-element textarea{
    width: 100%;
    height: 87px;
    border-radius: 5px;
    resize: none;
}
::placeholder{
    font-family: "Inter";
    font-style: italic;
}

.company-contact-data-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;

    width: 200px;
    height: 100px;
    padding: 0 8px;
    box-sizing: border-box;
}
.company-detail span{
    font-family: "Inter";
    font-size: 12px;
}

.company-detail span:not(:last-child){
    margin-bottom: 24px;
}

.company-detail img{
    vertical-align: bottom;
    margin-right: 12px;
}

@media (768px <= width){
    .contact-form{
        margin: 64px auto 0 auto;
        background-image: linear-gradient(45deg, #f0f0f0, #f6f6f6);
        box-shadow: 1px 2px 4px 0px rgba(57, 54, 238, 0.25);
        display: flex;
        flex-flow: row nowrap;

        padding: 0;
        row-gap: 0;
    }

    .contact-details-company,
    .contact-details-client{
        display: flex;
        flex-flow: column nowrap;
    }

    .contact-details-company{
        width: 240px;
        background-color: #fafafa;
        border-radius: 20px;
    
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 32px 0;
    
        box-sizing: border-box;
        box-shadow: 0px 2px 4px 1px rgba(97, 94, 255, 0.25);

        order: 0;
    }

    .contact-details-company img[alt="mStile Logo"]{
        display: block;
        width: 200px;
        filter: invert(1);
    }

    .contact-details-client{
        border: none;
        padding: 32px;
    }
    .form-element input{
        width: 250px;;
        height: 28px;
    }
    
    .form-element textarea{
        width: 97%;
    }
        
}