.homepage-container{
    width: 1043px;
    margin-top: 128px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

p:not(:last-of-type){
    margin-bottom: 32px;
}

.feature-container{    
    font-family: "Libre Baskerville";
    box-sizing: border-box;
}

.feature-container:not(.stretch-ceiling){
    display: flex;
    justify-content: center;
    margin-bottom: 128px;
}

.feature-container:not(.stretch-ceiling) > img{
    align-self: baseline;
}

.feature-container h2{
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
}

:nth-child(1 of .feature-container){
    flex-flow: row-reverse nowrap;
}

:nth-child(1 of .feature-container) > .feature-text-wrapper{
    margin-left: 64px;
}

:nth-child(2 of .feature-container) > .feature-text-wrapper{
    margin-right: 64px;
}

.feature-container.stretch-ceiling{
    width: 100%;
}

.feature-container.stretch-ceiling > p:nth-of-type(1){
    margin-bottom: 32px;
}

.middle-image{
    width: 1043px;
    margin-bottom: 128px;
}
/*using flexbox to make an image appear floating*/
.floating-section-wrapper{
    display: flex;
    gap: 64px;
}

.floating-image-1{
    order: 2;
}

.floating-text-wrapper{
    margin-top: 12px;
}

.main-banner-1{
    width: 1043px;
    margin-top: 92px;
    margin-bottom: 64px;
}

.main-banner-1 + p,
.main-banner-1 + p + p{
    padding: 0 24px;
}

.main-banner-1 + p + p{
    margin-bottom: 128px;
}

@media (576px <= width <= 1279px){
    .homepage-container{
        width: 512px;
        margin-top: 62.8px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    p:not(:last-of-type){
        margin-bottom: 15.7px;
    }
    .feature-container:not(.stretch-ceiling){
        flex-flow: column nowrap;
        gap: 62.8px;
        margin-bottom: 62.8px;
    }
    .feature-container h2{
        font-size: 18px;
        margin-bottom: 32px;
    }
    :nth-child(1 of .feature-container) > .feature-text-wrapper{
        margin-left: 0;
    }
    :nth-child(2 of .feature-container) > .feature-text-wrapper{
        margin-right: 0;
    }
    :nth-child(1 of .feature-container) > img{
        width: 512px;
    }
    /*doesn't fit mobile design*/
    :nth-child(2 of .feature-container) > img{
        display: none;
    }
    .feature-container:not(.stretch-ceiling) > img{
        align-self: center;
    }
    .feature-container.stretch-ceiling > p:nth-of-type(1){
        margin-bottom: 15.7px;
    }
    .middle-image{
        width: 512px;
        margin-bottom: 62.8px;
    }
    .feature-container.stretch-ceiling{
        display: flex;
        flex-flow: column nowrap;
    }
    .floating-section-wrapper{
        display: contents;
        flex-flow: column nowrap;
        gap: 64px;
    }
    
    .floating-image-1{
        order: 0;
        width: 300px;
        align-self: center;
        margin: 48px 0;
    }
    
    .floating-text-wrapper{
        display: contents;
        margin-top: 12px;
    }
    .main-banner-1{
        width: 512px;
        margin-top: 45.16px;
        margin-bottom: 31.4px;
    }
    
    .main-banner-1 + p,
    .main-banner-1 + p + p{
        padding: 0 11.78px;
    }
    
    .main-banner-1 + p + p{
        margin-bottom: 62.8px;
    }
}

@media (320px <= width <= 575px){

}