main{
    font-family: "Libre Baskerville";
}

main h1{
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 7px;
    font-style: italic;
    text-align: center;
    margin: 92px 0;
}

main .info-container{
    display: flex;
    flex-flow: column nowrap;
    padding: 0 128px;
    width: 920px;
    align-items: center;
}

p:not(:last-of-type){
    margin-bottom: 32px;
}

.info-container .image-block{
    /*padding accounts for 32px margin on paragraphs*/
    padding: calc(92px - 32px) 0 92px  0;
}

/*FAQ page styles*/
.faq-item-container{
    width: 920px;
}
.faq-item-container:not(:last-child){
    margin-bottom: 92px;
}

.faq-item-container h2{
    margin-bottom: 48px;
}

/*AboutUs page styles*/
.aboutus-image-container{
    display: flex;
    gap: 48px;
}

/*Services page styles*/
.services-image-container{
    display: flex;
    gap: 24px;
}

.services-image-column{
    display: flex;
    flex-flow: column nowrap;
}

.services-image-column > img{
    display: block;
}

@media(576px <= width <= 1279px){
    main{
        width: 512px;
    }
    main h1{
        font-size: 24px;
        letter-spacing: 5px;
        margin: 64px 0;
    }
    main .info-container{
        width: 512px;
        padding: 0;
    }

    .image-block{
        width: 512px;
    }

    /*FAQ page styles*/
    .faq-item-container{
        width: 512px;
    }
    .faq-item-container:not(:last-child){
        margin-bottom: 64px;
    }
    .faq-item-container h2{
        margin-bottom: 24px;
    }

    /*AboutUs page styles*/
    .aboutus-image-container{
        flex-flow: column nowrap;
    }

    p:not(:last-of-type){
        margin-bottom: 32px;
    }

    .info-container .image-block{
        /*padding accounts for 32px margin on paragraphs*/
        padding: calc(64px - 32px) 0 64px  0;
    }

    /*Services page styles*/
    .services-image-container{
        gap: 16px;
        justify-content: center;
    }
    .services-image-container img{
        width: 150px;
    }
    .services-image-column img:not(:last-child){
        margin-bottom: 16px;
    }
}